@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
.home{
    background-color: #f4f0f9;
    width: 100%;
    height: 100%;
    font-family: "Fredoka", sans-serif;
 
}
/* === Botón de WhatsApp === */

.wafloat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 999;
  border-radius: 50%;
  background-color: #25D366; /* color verde WhatsApp */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.wafloat img {
  width: 100%;
  height: auto;
}

.wafloat:hover {
  transform: scale(1.1);
}
