@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.carrusel {
  height: 92vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeIn 0.5s ease-in-out;
  filter: brightness(0.6);
}

/* Contenedor del texto */
.texto {
  position: absolute;
  color: white;
  text-align: center;
  max-width: 800px;
  padding: 20px;
  animation: fadeIn 0.5s ease-in-out;
  border-radius: 10px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

.texto h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.texto p {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

.boton {
  margin-top: 1.5rem;
  padding: 10px 20px;
  background-color: #7a62fb;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #a088fc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.01);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* === MODIFICADO === */
.controles {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  transform: translateY(-50%);
  z-index: 10;
  pointer-events: none; /* Importante para no bloquear clics en fondo */
}

.controlBtn {
  pointer-events: all; /* Reactiva clics solo en los botones */
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controlBtn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
/* Versión móvil */
@media (max-width: 768px) {
  .controles {
    top: auto;            /* Anulamos top */
    bottom: 100px;        
    transform: none;      /* Quitamos el centrado vertical */
    justify-content: center;
    gap: 20px;
    
  }

  .controlBtn {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
  .texto h1 {

  font-size: 2rem;
 
}

.texto p {
  font-size: 1.2rem;
 
}

.boton{
 font-size: 1.2rem;
}
}
